@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+CU+Guides&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

html {
  font-family: "Mulish";
}

body {
  margin: 0;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background: #070709;
  color: #e5e7eb;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}
::selection {
  background: rgba(141, 242, 141, 0.5); /* soft light green */
}
::-moz-selection {
  background: rgba(144, 238, 144, 0.5);
}
