body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
}

.center {
  text-align: center;
}

#header {
  text-align: center;
  margin: 2rem auto;
}

#header h1 {
  font-size: 2rem;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 50rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(118, 192, 174, 0.7);
  background-color: transparent;
  color: #c2e9e0;
}

#user-input input:focus {
  border-color: #fff;
  outline: none;
  box-shadow: 0 0 10px rgba(118, 192, 174, 0.6);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  padding: 0.5rem;
  text-align: right;
}

thead {
  font-size: 0.75rem;
  color: #83e6c0;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}

tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}
